*{padding: 0;
margin: 0;
 box-sizing: content-box;
 list-style: none;
}

body{
   
    font-family: sans-serif;
}

header{height: 20%;
  margin-top: 0%;
    width: 100%;
    background: rgb(155, 75, 230);

    #botonMenu{
        display: none;
    }

    label{
        display: none;
        width: 30%;
        height: 30%;
        padding: 10%;
        border-right: 1px solid #fff;
    }

    label:hover{
        cursor: pointer;
        background: rgba(0, 0, 0, 0.3)
    }
}

nav{
    
   ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    

    
    li{
        border-right: 1px solid #fff;
        hover {
            background: rgba(0,0,0,0.3);
        }

        a{
            display: block;
            padding: 15px 20px;
            color: #fff;
            text-decoration: none;
        }

        hover{
            background: rgba(0, 0, 0, 0.3)
        }
    }
   }  

    
}


/**Body**/

main {
    background-color: rgb(220, 192, 247);
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 70px;

    h1 {
        text-align: center;
      }
      
      h2 {
        text-align: center;
        margin-bottom: 3%;
      }
      
      p {margin: 3%;
        padding-left: 40px;
        padding-right: 40px;
      }
      
      div {
        width: auto;
        height: 200px;
      }
  }
    
  @media (max-width: 768px) {
    header label {
      display: block;
    }
    .menu {
      position: absolute;
      background: rgb(155, 75, 230);
      width: 70%;
      margin-left: -70%;
      transition: 0.5s;
    }
    .menu ul {
      flex-direction: column;
    }
    .menu li {
      border-top: 1px solid #fff;
    }
    #botonMenu:checked ~ .menu {
      margin: 0;
    }
}

.container img {
    padding: 0;
    margin: 0;
    image-orientation: inherit;
    height: 45px;
    width: 45px;
  }
  
  footer {
    background-color: rgb(168, 121, 213);
    width: auto;
    height: 15%;
    margin: 0%;

    .box {
        width: auto;
        height: 10%;
        padding-top: 10px;
        .titulo {
            margin-right: 150px;
            margin-bottom: 30px;
              }
      }
      .container {margin-bottom: 0px;
        
        .row {
            display: grid;
            grid-template-rows: 40px;
            padding: top 20px; 
            padding-bottom: 10px;
            margin-top: 20px;
            margin-bottom: 0;
            
            }
          }
          .grupo-2 {
            small{
              height: 45px;
            padding-top: 10px;
            padding-bottom: 5px;
            margin-left: 25px;
            margin-top: 0;
            margin-bottom: 3px;
            }
            
          }  
      }

/** PAGINA_MISION **/    

main{
  h1{text-align: center;
  }
  .texto{margin: 3%;
    padding-left: 40px;
    padding-right: 40px;
    p{color: darkblue;
    }
  .Imagen_Mision {width: 300 px;
    height: 300 px;
  }
  }
}
